<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.theycallme_addy.bsccs">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".PasswordActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".UpdateProfile" />
        <activity android:name=".UpdatePassword" />
        <activity android:name=".TeacherLogin" />
        <activity android:name=".AboutUs" />
        <activity android:name=".TeacherInterface" />
        <activity android:name=".FirstYear" />
        <activity android:name=".SecondYear" />
        <activity android:name=".ThirdYear" />
        <activity android:name=".ListFirst" />
        <activity android:name=".ListSecond" />
        <activity android:name=".ListThird" />
        <activity android:name=".AddFirst" />
        <activity android:name=".StudFirstYear" />
        <activity android:name=".RecieveFirst" />
        <activity android:name=".CheckFirst" />
        <activity android:name=".MarksListFirst" />
        <activity android:name=".AssessmentFirst" />
        <activity android:name=".AddSecond" />
        <activity android:name=".CheckSecond" />
        <activity android:name=".MarksListSecond" />
        <activity android:name=".AssessmentSecond" />
        <activity android:name=".AddThird" />
        <activity android:name=".AssessmentThird" />
        <activity android:name=".CheckThird" />
        <activity android:name=".MarksListThird" />
        <activity android:name=".StudSecondYear" />
        <activity android:name=".StudThirdYear" />
        <activity android:name=".RecieveSecond" />
        <activity android:name=".RecieveThird"></activity>
    </application>

</manifest>